@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html, .App {
  background-color: #eae7dc;
}

.App {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
}

.sections {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.high, .medium, .low {
  border-radius: 7px;
  height: 15px;
  width: 20%;
}

.high {
  background-color: red;
}

.medium {
  background-color: orange;
}

.low {
  background-color: green;
}

.color {
  border: 1px solid #e85a4f;
  border-radius: 7px;
  background-color: #eae7dc;
  width: 35px;
  height: 35px;
}