@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html, .App {
  background-color: #eae7dc;
}

.App {
  height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
}
